.container{
    position: absolute;
    width: 1220px;
    height: 152px;
    left: 3rem;
    top: 2rem;
    
}


.logo{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 13px;
    top: -1.5rem;
    width: 236.26px;
    height: 60px;
}

a{
    /*Off*/
    outline: none;
   
    padding: 2px 1px 0;
}

.navbar-link{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}




header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
}

nav a{
    margin: 0 2rem;
    text-decoration: none;
}


nav a:hover{
    color: rgba(0, 0, 0 0.7);
}


































