@font-face {
  font-family: 'Poppins-Black';
  src: url('fonts/Poppins-Black.ttf');
  font-weight: normal;
  font-style: normal;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
